<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuxpro.startup">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSatrtupDemo" >

        <!--provider的node为merge，会将所有manifest文件里的InitializationProvider的meta-data合并到一起，保证meta-data不重复-->
        <!--provider的一个meta-data就是一个初始化类，初始化类继承Initializer<T>，这样就实现了共享同一个ContentProvider初始化组件的目的-->
        <!--如果初始化类有依赖的其他的Initializer<T>，会自动先初始化依赖的Initializer<T>，不需要写到meta-data里-->
        <!--初始化有两种方式：自动初始化和手动初始化。这个通过provider的meta-data的node来控制，node为remove即移除，这样这个初始化类就是手动初始化，
        如果所有初始化类都手动初始化，可以将provider的node设为remove-->
        <!--手动初始化，在代码里用到的时候再调用，调用：AppInitializer.getInstance(context).initializeComponent(MyAppStartupA::class.java)-->

        <!--下面是自动初始化的写法-->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-provider"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.yuxpro.appsatrtupdemo.startup.MyAppStartupA"
                android:value="androidx.startup" />
        </provider>

        <!--下面是手动初始化MyAppStartupA的写法-->
        <!--        <provider-->
        <!--            android:name="androidx.startup.InitializationProvider"-->
        <!--            android:authorities="${applicationId}.androidx-startup"-->
        <!--            android:exported="false"-->
        <!--            tools:node="merge">-->
        <!--            <meta-data-->
        <!--                android:name="com.yuxpro.appsatrtupdemo.startup.MyAppStartupA"-->
        <!--                android:value="androidx.provider"-->
        <!--                tools:node="remove" />-->
        <!--        </provider>-->

        <!--下面是手动初始化所有Initializer<T>的写法-->
        <!--        <provider-->
        <!--            android:name="androidx.startup.InitializationProvider"-->
        <!--            android:authorities="${applicationId}.androidx-startup"-->
        <!--            android:exported="false"-->
        <!--            tools:node="remove"/>-->

    </application>

</manifest>