<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuxpro.contentprovider">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSatrtupDemo" >

        <!--自定义ContentProvider，用于初始化，这样的写法是在jetpack AppStartup出现之前初始化组件的常规做法-->
        <provider
            android:name=".MyContentProvider"
            android:authorities="${applicationId}.myProvider"
            android:exported="false" />

    </application>

</manifest>